
Hi, <%= @user.email %>!
Is it almost time for <button phx-click="want_lunch">Lunch</button>?

<%= for luncher <- @lunchers do %>
    <div class="md:flex pt-1">
        <img class="w-12 h-12 rounded-full mx-auto" src="<%= luncher.thumbnail %>">
        <div class="text-center md:text-left space-y-4">
            <p class="text-lg font-semibold">

                <%= luncher.name %>
            </p>
        </div>

    </div>
<% end %>
